.main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.area {
    align-items: center;
    justify-content: center;
    display: block;
    width: 100%;
    max-width: 60rem;
    background: #263238;
    border: 2px solid #03A9F4;
    min-height: 100vh;
    border-radius: 20px;
    margin: 6rem auto 3rem;
    box-shadow: 4px 4px 30px rgba(109, 140, 156, 1);
    padding: 20px;
    color: #03A9F4;
  }