.contact-wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
}
.former{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 7vh;
}


.form-box{
    align-items: center;
    display: block;
    justify-content: center;
    width: 35rem;
    min-height: 70vh;
    background: #263238;
    border: 2px solid #03A9F4;
    border-radius: 20px;
    margin-top: 6rem;
    margin-bottom: 3rem;
    box-shadow: 4px 4px 30px rgba(109, 140, 156, 1);
    
}
.form-box h1{
    margin-top: 6vh;
    color: #03A9F4;
    align-items: center;
    display: flex;
    justify-content: center;

}


.form {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
     background-image: linear-gradient(45deg, #330808, 
    #3a2c09); 
    border-radius: 2.5em;
    padding: 30px;
    width: 30px;
    height: 350px;
  }
  
  .form::before {
    content: '';
    /* background-image: linear-gradient(45deg, #ff0000, 
    #ffb700); */
    height: 358px;
    width: 309px;
    position: absolute;
    margin-top: -34px;
    
    z-index: -1;
    border-radius: 2.7em;
  }
  
  .former button {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    /* background: #ff5900;
    color: black; */
    padding: 0.7em 5.5em;
    display: flex;
    align-items: center;
    border: 2px solid #66da4300;
    border-radius: 5em;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .former button:hover {
    border: 2px solid #03A9F4;
    background: #00000000;
    color: #03A9F4;
  }
  
  .former button:active {
    border: 2px solid #66da4300;
    background: #03A9F4;
    color: #fff;
  }
  
  .input {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 20rem;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #66da4300;
    border-bottom: 1px solid #03A9F4;
    outline: none;
    background-color: transparent;
    color: #03A9F4;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
  }
  
  .input:focus {
    border: 1px solid #66da4300;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: white;
  }
  
  .input::placeholder {
    color: #fff;
  }
  
  .textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: calc(100% - 10px);
    padding: 8px;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid #66da4300;
    border-bottom: 1px solid #03A9F4;
    outline: none;
    background-color: transparent;
    color: #03A9F4;
  }
  
  .textarea::placeholder {
    color: #fff;
  }
  
  .textarea:focus {
    border: 1px solid #66da4300;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: white;
  }