
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #263238;
    color: #fff;
    position: relative;
    margin: 0px 50px 50px  ;
  }
  
  .logo {
    font-size: 1.5rem;
    color: #03a9f4;
  }
  
  .nav-links ul {
    display: flex;
    list-style: none;
  }
  
  .nav-links ul li {
    margin: 0 15px;
  }
  
  .nav-links ul li a,
  .nav-links ul li .button {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    transition: color 0.3s ease;
  }
  
  .nav-links ul li .button {
    background-color: #03a9f4;
    border-radius: 20px;
    color: #fff;
    }
 .nav-links ul li .button:hover{
    background-color: #263238;
    border: 1px solid #03a9f4;
 }   
  
.nav-links ul li .info:hover {
    color: #03a9f4;

  }
  .nav-links ul li a:hover {
    color: #03a9f4;
  }


  /* Hamburger menu */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: all 0.3s ease;
  }
  
  /* Mobile view adjustments */
  @media (max-width: 768px) {
    .nav-links ul {
      flex-direction: column;
      background-color: #263238;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      text-align: center;
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease;
    }
  
    .nav-links.open ul {
      height: 200px; /* Adjust based on the number of links */
    }
  
    .nav-links ul li {
      margin: 15px 0;
    }
  
    .hamburger {
      display: flex;
    }
  }
  